/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/adminer/*
/storage/*.key
.phpstorm.meta.php
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.vite
/storage
/_ide_helper_models.php
/composer.phar
/public/images
/_ide_helper.php
/.github/logs
/lang/*
!/lang/README.md
!/lang/*/install.php
/resources/views/vendor/notifications/*
/data/*
/src/CTX*
/views/CTX*
2025-*.txt
/resources/themes/*/views/sections_copy/*
/data/*
docker-compose.yml
*.sh
