[submodule ".claude"]
	path = .claude
	url = git@github.com:alexwrite/.claude-clientxcms.git
[submodule ".devcontainer"]
	path = .devcontainer
	url = git@github.com:alexwrite/laravel-devcontainer-clientxcms.git
[submodule ".specify"]
	path = .specify
	url = git@github.com:alexwrite/.specify-clientxcms.git
